@import 'trix/dist/trix.css';
@import '/public/css/trix.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-gold {
        @apply bg-[#CC9966];
    }

    .bg-dark {
        @apply bg-[rgba(0,0,0,0.7)];
    }

    .text-gold {
        @apply text-[#CC9966];
    }

    .fill-gold {
        @apply fill-[#CC9966];
    }

    .stroke-gold {
        @apply stroke-[#CC9966];
    }

    .select-gold option {
        @apply text-gray-800 bg-gold dark:text-gold dark:bg-dark;
    }

    .start-1\/5{
        inset-inline-start: 20%;
    }

    .start-2\/5 {
        inset-inline-start: 40%;
    }

    .start-3\/5 {
        inset-inline-start: 60%;
    }

    .start-4\/5 {
        inset-inline-start: 80%;
    }
}
